<div class="post" style="border-bottom: 1px solid grey; margin-bottom:10px; margin-top:0;">
    <b>{{ post.title }}</b>
    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->
    {% if post.image %}
    <img src="/{{ post.image }}" style=" height: 50px; float: left;  margin-right: 10px; margin-top: 0px;">
    {% endif %}
    {% if post.excerpt != post.content %}
    <div style="overflow: hidden; margin-top: 5px; color: inherit;">
      {{ post.excerpt }}
    </div> {% endif %}
    <div style="clear: both;"></div>
  </div>
