{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="canonical" href="{{ ABSOLUTE_SITEURL }}/{{ current_language or 'en' }}/" />
  <meta name="description" content="{{ DESCRIPTION }}" />
{% endblock %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
</div>

<div class="posts">
  {% for article in articles_page.object_list %}
    {% include 'article_preview.html' %}
  {% endfor %}
</div>

{% include 'pagination.html' %}
{% endblock content %}
